name: Unit Tests

on:
  push:
    branches:
      - master

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Upgrade pip
        run: |
            python -m pip install --upgrade pip
      - name: Install dependencies
        #working-directory: api
        run: |
            cd api
            pip install -r requirements.txt
      - name: Run tests
        env: 
          APP_ENV: test
        run: | 
            pytest


  security_scan:
      name: Security Scan
      runs-on: ubuntu-latest
      steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Trivy vulnerability scanner in fs mode
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          scan-ref: '.'
          trivy-config: trivy.yaml



  scan_terraform_scripts:
      name: Scan Terraform Scripts  
      runs-on: ubuntu-latest
      steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v1
        with:
          python-version: 3.9
        directory: Terraform/ECR
        framework: terraform