name: Unit Tests

on:
  push:
    branches:
      - master

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Upgrade pip
        run: |
          python -m pip install --upgrade pip
      - name: Install dependencies
        working-directory: api
        run: |
          pip install -r requirements.txt
      - name: Set environment variable
        run: export APP_ENV=test
      - name: Run tests
        run: pytest
